Button {
  width: 150px;
  height: 50px;
  font-size: 1.25em;
  border-radius: 10px;
  background-color: slateblue;
  color: white;
}

.Die {
  font-size: 8em;
  margin: 5px;
  color: slateblue;
}

.content {
  text-align: center;
}
